@font-face {
    font-family: "Sam3KRFont";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  * {
    font-family: "Sam3KRFont";
    font-size: large;
  }

  #container {
    position: absolute;
    width: 650px;
    height: 350px;
    border: 2px black solid;
    /* overflow: hidden; */
    background-image: url(images/field.jpg);
    background-size: contain;
  }

  #cat {
    position: absolute;
    left: 40px;
    bottom: 10px;
    width: 85px;
    border: 2px pink solid;
    padding: -10%;
  }

  /* #hitbox {
    position: absolute;
    left: 18px;
    bottom: 37px;
    width: 55px;
    height: 5px;
    border: 3px red solid;
  }

  #hitbox2 {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 45px;
    height: 25px;
    background-color: red;
    border: 3px red solid;
    border-radius: 20%;
  } */
  
  #enemy {
    position: absolute;
    width: 45px;
    top: auto;
    right: -30px;
    bottom: 100px;
    animation: rotate_image 3s linear infinite;
    transform-origin: 50% 50%; 
  }


  #item {
    position: absolute;
    width: 45px;
    top: auto;
    right: -30px;
    bottom: 100px;
    animation: rotate_image 3s linear infinite;
    transform-origin: 50% 50%; 
  }

  #score {
    font-size: x-large;
    margin-top: 10px;
    margin-right: 50px;
    float: right;
  }

  #ui {
    position: absolute;
    width: 36.2em;
    height: 2.5em;
    background-color: rgba(126, 130, 133, 0.459);
    /* border: 2px rgb(121, 121, 121) solid; */
  }

  #gameover_screen {
    position: absolute;
    width: 650px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    color: white;
  }

  #gameovertext {
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
  }

  #restart{
    display: inline-block;
    position: relative;
    margin: 0px auto;
    background-color: rgb(213, 239, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
  }

  #gameovercat {
    display: inline;
    position: relative;
    width: 50%;
    left: -40px;
    bottom: -70px;
  }
  /* .sliding-background {
      z-index: -100;
      position: absolute;
      background-image: url(images/field.jpg);
      background-size: contain;
      animation: slide 5s linear infinite;
    } */
#interface {
  position: absolute;
  width: 650px;
  height: 23px;
  background-color: #E1D694;
  bottom: 0px;
}

#gameclear_screen {
  position: absolute;
  width: 650px;
  height: 350px;
  background-color: rgb(221, 206, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  color: white;
}

#gameclearcat {
  display: inline;
  position: relative;
  width: 65%;
  left: 40px;
  bottom: -10px;
}

#gameclearcan {
  display: inline;
  position: relative;
  width: 170px;
  left: -70px;
  bottom: 280px;
}

#gameclearcan2 {
  display: inline;
  position: relative;
  width: 90px;
  left: 365px;
  bottom: 370px;
}

@keyframes rotate_image{
    100% {
        transform: rotate(-360deg);
    }
}


  /* @keyframes slide {
    from {
      transform: translate(0, 0);
    }

    to {
      transform: translate(-500px, 0);
    }
  } */